*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}

.map{
    width: 100%;
}

.globeImg{
    display: flex;
    justify-content: center;
}

.globe{
    width: 35%;
}

.static-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.countryList {
    background-color: lightgrey;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
    justify-content: space-around;
}

.country-info{
    width: 30vw;
    list-style: none;
}

.flagImage {
    width: 25%;
    height: 100%;
}

.flagNameTile {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-content: center;
}

.fetchButton{
    display: flex;
    justify-content: center;
}

.flagAndName{
    display: flex;
    align-items: center;
}

.flagAndName{
    margin: 20px;
}

.card{
    display: flex;
    flex-direction: column;
    width: 50%;
    box-shadow: 10px 10px 40px -5px rgba(0,0,0,0.6);
    margin: 20px;
    border-radius: 15px;
}

.card img{
    width: 40%;
}

.card p{
    padding: 5px;
}

.africa{
    color: blue;
}

.americas{
    color: green;
}

.asia{
    color: red;
}

.europe{
    color: yellow;
}

.oceania{
    color: purple;
}

.none{
    color: grey;
}